<li class="nav-item dropdown dropdown-user">
    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
        <!-- <img src="../../../../assets/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt=""> -->
        <span>{{ obtenerNombreUsuario() }}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a href="#/login" class="dropdown-item"><i class="icon-switch2"></i> Cerrar sesión</a>
    </div>
</li>