<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle collapsed" data-toggle="collapse" data-target="#navbar-footer" aria-expanded="false">
            <i class="icon-unfold mr-2"></i>
            
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-footer" style="">
        <span class="navbar-text">
            © 2020. Desarrollado por _k@King
        </span>

        <!-- <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Soporte</a></li>
            <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Documentación</a></li>
        </ul> -->
    </div>
</div>