<div class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <div class="modal-header bg-info">
                <h6 class="modal-title font-weight-bold text-uppercase">
                    Crear nuevo formato
                </h6>

                <div class="header-elements">
                    <li class="list-inline-item">
                        <a data-action="remove" data-dismiss="modal"></a>
                    </li>
                </div>
            </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-12">Nombre formato</label>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" [(ngModel)]="model.subgroupFormat.Name">
                        </div>
                    </div>
                </div>
            
            <div class="modal-footer">
                <div class="col-lg-3">
                    <button type="submit" class="btn bg-info ml-2" (click)="save()">
                        Guardar
                    </button>
                </div>
                <div class="col-lg-7"></div>
                <div class="col-lg-2 text-right">
                    <button type="button" class="btn bg-grey" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>