<li class="nav-item dropdown">
    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
        <i class="icon-people"></i>
        <span class="d-md-none ml-2">Users</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
        <div class="dropdown-content-header">
            <span class="font-weight-semibold">Users online</span>
            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
        </div>

        <div class="dropdown-content-body dropdown-scrollable">
            <ul class="media-list">
                <li class="media" *ngFor="let user of model.users">
                    <div class="mr-3">
                        <img [src]="user.pathImage" width="36" height="36" class="rounded-circle" alt="">
                    </div>
                    <div class="media-body">
                        <a href="#" class="media-title font-weight-semibold">{{ user.userName }}</a>
                        <span class="d-block text-muted font-size-sm">{{ user.job }}</span>
                    </div>
                    <div class="ml-3 align-self-center"><span class="badge badge-mark" [ngClass]="user.isOnline ? 'border-success' : 'border-danger'"></span></div>
                </li>
            </ul>
        </div>

        <div class="dropdown-content-footer bg-light">
            <a href="#" class="text-grey mr-auto">All users</a>
            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
        </div>
    </div>
</li>
