<li class="nav-item dropdown">
  <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
    <i class="icon-bubbles4"></i>
    <span class="d-md-none ml-2">Messages</span>
    <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">{{ model.messages.length }}</span>
  </a>

  <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
    <div class="dropdown-content-header">
      <span class="font-weight-semibold">Messages</span>
      <a href="#" class="text-default"><i class="icon-compose"></i></a>
    </div>

    <div class="dropdown-content-body dropdown-scrollable">
      <ul class="media-list">
        <li class="media" *ngFor="let message of model.messages">
          <div class="mr-3 position-relative">
            <img [src]="message.pathImage" width="36" height="36" class="rounded-circle" alt="">
          </div>

          <div class="media-body">
            <div class="media-title">
              <a href="#">
                <span class="font-weight-semibold">{{ message.userName }}</span>
                <span class="text-muted float-right font-size-sm">{{ message.date }}</span>
              </a>
            </div>

            <span class="text-muted">{{ message.message }}</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="dropdown-content-footer justify-content-center p-0">
      <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="" data-original-title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
    </div>
  </div>
</li>
